<div class="row">
    <div class="columns">

        <div class="row">
            <div class="small-12 columns">
                <h2 class="evidence">Chi siamo:</h2>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 medium-6">
                <h4 class="subheader">MFI REFUNDING S.R.L.</h4>
                <p>
                    Risarcimentointegrale.it si avvale di un team di professionisti che opera, da oltre 20 anni, nel settore del risarcimento dei danni causati da Malasanità, Infortuni sul lavoro, Incidenti Stradali e molto altro ancora…                </p>
                <p>
                    La nostra missione è aiutare chiunque abbia subito un danno ad ottenere il giusto risarcimento. Consapevoli del fatto che, spesso, mancano i mezzi per farsi carico di un’azione legale che può durare a lungo, Risarcimentointegrale.it ti sostiene in ogni fase, anticipando tutte le spese che saranno necessarie, avvalendosi dei propri esperti, avvocati e medici-legali, fino ad ottenere il massimo del Risarcimento. A te non resta che guarire, alle carte pensiamo noi.
                <p>
            </div>
            <div class="columns small-12 medium-6">

                <h4 class="subheader">Perchè scegliere noi?</h4>
                <p>
                    <ul>
                        <li>
                            Più di <strong>20 anni di esperienza</strong> nel settore del risarcimento danni
                        </li>
                        <li>
                            Siamo sempre <strong>reperibili</strong> e a disposizione per eventuali richieste da parte dei clienti
                        </li>
                        <li>
                            <strong>Aggiorniamo costantemente</strong> il cliente circa lo stato della pratica
                        </li>
                        <li>
                            Le nostre valutazioni sono sempre <strong>gratuite</strong>
                        </li>
                        <li>
                            <strong>Sosteniamo</strong> noi tutte le spese per la pratica
                        </li>
                    </ul>
                </p>

            </div>
        </div>
        <hr>
        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il Massimo del Risarcimento!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il Massimo del Risarcimento!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>
