<footer>
    <hr>
        <div class="row align-justify">
            <div class="column small-12 medium-6">
                <i>CERTOSA TIBULLO SRL – Via Donizetti 49 – Milano C.F. e P.IVA 08047800159
            </div>
            <div class="column medium-2">
                <a href="//www.iubenda.com/privacy-policy/7853980" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>            </div>
        </div>
        <div class="spazio_bianco"></div>
</footer>