<footer>
    <hr>
        <div class="row align-justify">
            <div class="column small-12 medium-8">
                <i>MFI REFUNDING S.R.L. – Piazza della Repubblica, 32 – 20124 Milano C.F. e P.I. 10930270961
            </div>
            <div class="column">
                <a href="/assets/privacy" target="_blank" title="Privacy Policy">Privacy Policy</a>
            </div>
        </div>
        <div class="spazio_bianco"></div>
</footer>
