<div class="row">
    <div class="columns">

        <div class="row" id="incidente">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-car" aria-hidden="true"></i> Incidente Stradale</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Hai subito un incidente stradale?</h4>
                <p>
                    Ti aiutiamo <strong>senza alcun anticipo</strong> ad ottenere il massimo risarcimento possibile per i danni derivanti dal tuo incidente stradale.
                </p>
                <h4 class="subheader">Quali sono i danni risarcibili?</h4>
                <p>
                    <ul>
                        <li>
                            danni al veicolo o ad altri beni danneggiati
                        </li>
                        <li>
                            danni per lesioni fisiche o psichiche (danno biologico), temporanee e permanenti
                        </li>
                        <li>
                            danni patrimoniali relativi alle spese di cura
                        </li>
                        <li>
                            danni patrimoniali conseguenti al mancato guadagno nel corso della convalescenza o alla perdita del posto di lavoro
                        </li>
                        <li>
                            danni non patrimoniali (danni morali)
                        </li>
                        <li>
                            danni conseguenti al decesso di un congiunto, vittima d’incidente stradale
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa facciamo per te?</h4>
                <p>
                    Rivolgendoti al nostro <i>team</i> di medici, periti cinematici ed avvocati, specializzato da anni nel settore dell’infortunistica stradale

                    <ul>
                        <li>
                            valutazione del tuo caso di incidente stradale sotto il profilo tecnico, medico e giuridico
                        </li>
                        <li>
                            redazione di perizia medico legale
                        </li>
                        <li>
                            avvio della pratica di risarcimento nei confronti della compagnia assicuratrice
                        </li>
                    </ul>

                    Queste attività di consulenza, tecnica, legale e medica, indispensabili per l’avvio della pratica, saranno <strong>interamente pagate da noi</strong>, senza chiederti alcun anticipo

                </p>

            </div>
            <div class="small-12 medium-5 columns show-for-medium">
                <img src="https://prismic-io.s3.amazonaws.com/risarcimentionline/8ea36d7491a6b1dfe3e6c33c3e0fb3c6d007ae85_incidente-2.jpg">
            </div>

            <div class="small-12 medium-5 columns show-for-small-only">
                <img src="https://risarcimentionline.cdn.prismic.io/risarcimentionline/f0134a1eba98d9eb5542479227ed089be9bd17dd_incidente-2.jpg">
            </div>
        </div>

        <hr>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Incidente Stradale!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Incidente Stradale!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>
