<div class="row">
    <div class="columns">

        <div class="row" id="lavoro">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-wrench" aria-hidden="true"></i> Infortunio sul Lavoro o Malattia Professionale</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/risarcimentionline/d97b9f382c5cfa0b099c8f6648ba1e6a0e0f4d9b_lavoro.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Hai subito un infortunio sul lavoro o sviluppato una patologia professionale?</h4>
                <p>
                    Oltre all'indennizzo da parte di INAIL e INPS hai diritto anche ad un risarcimento ulteriore, denominato <i>danno differenziale</i>.<br>
                    Può consistere in:

                    <ul>
                        <li>
                            un risarcimento per il danno patrimoniale, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento per danno biologico, permanente e temporaneo, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento dei danni non patrimoniali (danni morali)
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Che cos'è il <i>danno differenziale</i>?</h4>
                <p>
                    È un risarcimento che puoi richiedere al datore di lavoro ed alla sua assicurazione nel caso in cui ne sia accertata la responsabilità nella determinazione dell’infortunio o della malattia professionale, e consiste in:
                    <ul>
                        <li>
                            un’integrazione dell’<i>Indennità Temporanea</i> prevista dai contratti collettivi
                        </li>
                        <li>
                            un risarcimento per il danno patrimoniale, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento per danno biologico, permanente e temporaneo, non indennizzato dagli istituti previdenziali
                        </li>
                        <li>
                            un risarcimento dei danni non patrimoniali (danni morali)
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa facciamo per te?</h4>
                <p>
                    Rivolgendoti al nostro team di medici e avvocati specializzati da anni nel settore degli infortuni sul lavoro e delle malattie professionali:

                    <ul>
                        <li>
                            valutazione del tuo caso di infortunio o malattia professionale
                        </li>
                        <li>
                            perizia da parte di medici specialisti
                        </li>
                        <li>
                            avvio della pratica di richiesta danni
                        </li>
                    </ul>

                    Queste attività di consulenzae, indispensabili per l’avvio della pratica, saranno <strong>interamente pagate da noi</strong>, senza chiederti alcun anticipo

                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Infortunio o Malattia Professionale!</span>
                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Infortunio sul Lavoro!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>
