<div class="row">
    <div class="columns">

        <div class="row" id="malasanita">
            <div class="small-12 columns">
                <h2 class="evidence"><i class="fa fa-stethoscope" aria-hidden="true"></i> Malasanità</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-5 columns">
                <img src="https://prismic-io.s3.amazonaws.com/risarcimentionline/9b2a2cbd1918000023a31033f4516c63b0661ff8_sanita-01.jpg">
            </div>
            <div class="small-12 medium-7 columns">
                <h4 class="subheader">Siete stati vittime di un errore medico?</h4>
                <p>
                    Ti aiutiamo <strong>senza alcun anticipo</strong>, ad ottenere il massimo risarcimento possibile dal vostro caso di malasanità.
                </p>
                <h4 class="subheader">Quali sono i casi risarcibili?</h4>
                <p>
                    I danni che con maggior frequenza si verificano in ambito ospedaliero sono causati da errori od omissioni addebitabili agli operatori ed alle strutture sanitarie. Ecco la casistica più diffusa:
                    <ul>
                        <li>
                            omesse o errate diagnosi
                        </li>
                        <li>
                            interventi chirurgici mal eseguiti
                        </li>
                        <li>
                            infezioni contratte in ospedale
                        </li>
                        <li>
                            cadute attribuibili ad omessa vigilanza
                        </li>
                        <li>
                            errori in sala parto con ripercussioni sul neonato o sulla madre
                        </li>
                        <li>
                            errate indagini prenatali
                        </li>
                        <li>
                            mancanze nell’adempimento degli obblighi sul consenso informato
                        </li>
                        <li>
                            contagio da emotrasfusione
                        </li>
                    </ul>
                </p>
                <h4 class="subheader">Cosa facciamo per te?</h4>
                <p>
                    Rivolgendoti al nostro team di medici ed avvocati specializzati da anni nel settore del risarcimento danni da <i>medical malpractice</i>, otterrai:

                    <ul>
                        <li>
                            esame della pratica sotto il profilo giuridico
                        </li>
                        <li>
                            valutazione del caso da parte dei nostri esperti medici legali
                        </li>
                        <li>
                            avvio della pratica di richiesta del risarcimento
                        </li>
                    </ul>

                    Queste attività di consulenza, indispensabili per l’avvio della pratica, saranno <strong>interamente pagate da noi</strong>, senza chiederti alcun anticipo

                </p>

            </div>
        </div>

        <div class="row banner show-for-medium">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Malasanità!</span><br>
                        <span class="subSconto"><i>Fino a 10 anni dall'intervento o dalla diagnosi</i></span>

                    </a>
                </div>
        </div>


        <div class="row banner-small show-for-small-only">
                <div class="small-12 columns">
                    <a href="#form">
                        <span class="sconto">Ottieni il risarcimento per Malasanità!</span>
                    </a>
                </div>
        </div>

        <%= partial "partials/rowCallToAction" %>
    </div>
</div>
