---
title: >
        Vendita Appartamenti Piazzale Cadorna 10 Milano

description: >
            Da inserire
testata:
    prima_riga: Grazie per averci contattati!
    seconda_riga: Ti risponderemo in pochi miunti.
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/cadorna10/5ff78ecae3d969a20ad194167ffe3899cd12019b_testata.jpg

headCode: >
                    <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 881273324;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "nP0zCJyk4GYQ7NOcpAM";
                    var google_remarketing_only = false;
                    /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                    <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/881273324/?label=nP0zCJyk4GYQ7NOcpAM&amp;guid=ON&amp;script=0"/>
                    </div>
                    </noscript>

conversionCode: >
                    <!-- Google Code for Lead Corso Conversion Page -->

---
