---
layout:
    login
title: >
        Risarcimenti Online

description: >
        Da inserire

testata:
    prima_riga: Risarcimento Danni
    hasButton: 0
    seconda_riga: >

            Ottieni il Massimo del Risarcimento!

immagineTestata: https://prismic-io.s3.amazonaws.com/risarcimentionline/ee1e137658e65d956c7d6da03d49f54f55aa95fb_head-01.jpg

headCode: >


conversionCode: >

    <!-- BEGIN JIVOSITE CODE -->
    <script type='text/javascript'>
        (function(){ var widget_id = 'f1vCB5U9S6';var d=document;var w=window;function l(){
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>
    <!-- END JIVOSITE CODE -->

---

<div class="row">

    <div class="columns callout">
        <h5>Autenticati per vedere il sito</h5>
        <p><div data-netlify-identity-menu></div></p>


    </div>

</div>
