---
title: >
        Risarcimento danni Online

description: >
        Da inserire

testata:
    prima_riga: Privacy Policy?
    hasButton: 0
    seconda_riga: >

immagineTestata: https://prismic-io.s3.amazonaws.com/risarcimentionline/ee1e137658e65d956c7d6da03d49f54f55aa95fb_head-01.jpg

headCode: >

conversionCode: >
                    <!-- Google Code for Lead Corso Conversion Page -->

---

<div class="row">

    <div class="columns content">
        <p><b>Privacy policy</b></p>
        <p> </p>
<p>MFI Refunding S.r.l. (nel seguito, “<i>MFI Refunding</i>”) fornisce agli utenti del proprio sito <i>web </i>(nel seguito, il “<i>Sito</i>”, visitabile all’indirizzo <u>https://www.risarcimentointegrale.it</u>) le seguenti informazioni, nel rispetto dell’articolo 13 Regolamento (UE) 2016/679 (o <i>General Data Protection Regulation</i>, nel seguito “<i>G.D.P.R</i>”) e successiva normativa nazionale di adeguamento (nel seguito indicata, congiuntamente al G.D.P.R., come “<i>Normativa Privacy Applicabile</i>”). Durante la consultazione del Sito vengono, infatti, raccolte informazioni relative agli utenti, che costituiscono dati personali ai sensi della Normativa <i>Privacy</i> Applicabile.</p>
<p>L’informativa è resa esclusivamente per il Sito di cui sopra, e non per altri siti raggiungibili tramite <i>link</i> presenti sullo stesso.</p>

<p>Titolare del trattamento dei dati</p>

<p>Titolare del trattamento dei dati personali è MFI Refunding S.r.l., con sede legale in Piazza della Repubblica n. 32, 20124 Milano (<i>e-mail</i>: info@risarcimentointegrale.it tel.: 800-087-595)</p>

<p>Responsabili esterni del trattamento dei dati</p>

<p>Quando un utente utilizza il Sito, soggetti diversi da MFI Refunding trattano i dati dell’utente in qualità di responsabili esterni del trattamento, per finalità determinate. Trattasi di:</p>
<ul class="small"><li><i>JivoSite</i> Inc., che fornisce a MFI Refunding un servizio di messaggistica finalizzata al miglior esercizio dell’attività professionale di MFI Refunding, e raccoglie il nome e il cognome, il numero di telefono, l’indirizzo <i>e-mail</i> e tutti gli eventuali dati (dell’utente e/o di un terzo) inseriti dall’utente stesso.</li></ul></ul>
<p>Per ulteriori dettagli sui trattamenti di cui sopra, si invita l’utente a consultare le relative <i>privacy</i> (disponibile al <i>link</i> <u>https://www.jivochat.com/privacy/</u>) e <i>Cookie policy </i>(disponibile al <i>link</i> <u>https://www.jivochat.com/cookies/</u>).</p>

<p>Tipi di dati trattati</p>

<p>Di seguito sono specificati i dati che vengono trattati da MFI Refunding nel caso in cui l’utente utilizzi il Sito.</p>
<p>L'utente si assume la responsabilità degli eventuali dati personali di terzi inseriti sul Sito e/o comunque forniti a MFI Refunding, e garantisce di avere il diritto di comunicarli o diffonderli - liberando così MFI Refunding da qualsiasi responsabilità verso i suddetti terzi.</p>

<p><blockquote>Dati personali acquisiti automaticamente in caso di visita al Sito</blockquote></p>
<ul class="small"><li><b>Dati sulla navigazione.</b> MFI Refunding raccoglie automaticamente dati sul dispositivo (pc, <i>tablet, </i>telefono cellulare o altro dispositivo mobile) e la connessione utilizzati dall’utente, tra i quali, ad esempio, l’indirizzo IP, la data e l’ora di accesso, le informazioni su <i>hardware</i> e <i>software</i>, le informazioni sugli eventi riguardanti il dispositivo, gli identificativi unici, i dati di <i>crash</i>, e le pagine visualizzate dall'utente prima o dopo l'utilizzo del Sito. </li></ul>
<ul class="small"><li><b>Dati sull'utilizzo del Sito.</b> MFI Refunding raccoglie informazioni sulle modalità con le quali l’utente ha utilizzato il Sito, comprese, ad esempio, le pagine del Sito o altri contenuti visualizzati, e i <i>link</i> ad altri siti e applicazioni su cui l’utente ha cliccato.</li></ul></ul>

<p><blockquote>Dati personali forniti direttamente dall’utente</blockquote></p>
<ol><li><blockquote>Dati necessari per usufruire dei servizi offerti da MFI Refunding tramite il Sito </blockquote></li></ol>

<ul class="small"><li><b>Dati forniti dall’utente per ottenere una valutazione gratuita</b>. Se l’utente decide di richiedere una valutazione gratuita delle possibilità di risarcimento connesse a episodi di malasanità, incidente stradale e infortunio sul lavoro o malattia professionale, egli/ella compila il modulo “<i>Ricevi una valutazione gratuita</i>”, fornendo a MFI Refunding il nome e il cognome, il numero di telefono, l’indirizzo <i>e-mail</i> e tutti gli eventuali dati (dell’utente e/o di un terzo).</li></ul>
<li><b>Dati forniti dall’utente per usufruire dei servizi prestati da tramite il Sito.</b> Tramite il proprio Sito, MFI Refunding offre all’utente determinati servizi (in seguito, per brevità, i “<i>Servizi</i>”), ossia la ricezione di documenti e informazioni personali - relativi a episodi di malasanità, incidente stradale e infortunio sul lavoro o malattia professionale - e la comunicazione di questi a consulenti terzi – v. sotto. Se l’utente decide di avvalersi dei Servizi, egli/ella fornisce via <i>e-mail</i> a MFI Refunding tutti i suddetti documenti e informazioni – e tutti i dati personali propri e/o di terzi – in essi contenuti.</li></ul>
<p>Questi dati sono necessari per consentire all’utente di ottenere una valutazione gratuita nonché la prestazione dei Servizi da parte di MFI Refunding. Nel caso l’utente non voglia fornire tali dati, semplicemente non potrà giovarsi della valutazione gratuita e/o dei Servizi.</p>

<li><blockquote>Dati facoltativi</blockquote></li></ol>

<li><b>Dati forniti mediante richieste di informazioni via</b><i><b> e-mail</i></b>. Se l’utente, per richiedere informazioni, invia in modo esplicito e volontario posta elettronica agli indirizzi indicati sul Sito, MFI Refunding acquisisce l’indirizzo <i>e-mail</i> dell’utente gli eventuali dati personali dell’utente (e/o di terzi) inseriti nella comunicazione elettronica.</li></ul>

<p><blockquote>Dati personali raccolti tramite cookie</blockquote></p>
<p>MFI Refunding utilizza <i>cookies</i> per raccogliere dati sull’attività dell’utente sul Sito e sulle sue preferenze, nonché altri dati tecnici relativi all’utente.</p>
<p>Per ulteriori informazioni sull'uso dei <i>cookies</i>, l’utente può consultare la <i>cookie policy</i> del Sito.</p>

<p>Finalità di trattamento</p>

<p><blockquote>Contribuire al funzionamento del Sito; fornire all’utente i servizi che MFI Refunding presta tramite il Sito; eseguire misure precontrattuali adottate su richiesta dell’utente e adempiere gli obblighi contrattuali nei confronti dello stesso; proteggere gli interessi vitali dell’utente; rispettare la normativa vigente o perseguire altre esigenze di interesse pubblico</blockquote></p>
<p>I dati dell’utente, infatti, vengono trattati:</p>
<ul class="small"><li>per contribuire al funzionamento, alla misurazione, al miglioramento e alla sicurezza del Sito;</li></ul>
<li>per l’espletamento della valutazione gratuita; </li>
<li>per stipulare un contratto avente a oggetto la prestazione dei Servizi, e, eventualmente, per eseguire il suddetto contratto;</li>
<li>per prevenire, rilevare e mitigare frodi, violazioni della sicurezza e attività potenzialmente vietate o illegali.</li></ul>

<p><blockquote>Perseguire i legittimi interessi di MFI Refunding in modo tale che questi interessi non prevalgano sui diritti e sulle libertà fondamentali dell’utente</blockquote></p>
<p>I dati dell’utente, infatti, vengono trattati:</p>
<li>per identificare e risolvere i problemi riscontrati dall’utente nell’utilizzo del Sito (ad esempio, pagine bloccate o non funzionanti); </li>
<li>per risolvere controversie sorte con l’utente, circa il pagamento delle somme dovute in caso di ottenimento del risarcimento;</li>
<li>per conoscere le opinioni dell’utente tramite sondaggi o questionari.</li></ul>
<p>Questi trattamenti tutelano l’interesse di MFI Refunding a mantenere il Sito funzionante, sicuro ed efficiente. Essi inoltre non ledono i diritti e le libertà fondamentali dell’utente, in quanto sono trattamenti prevedibili e diffusi in ogni sito – e, in particolare, in ogni sito che verta su servizi offerti agli utenti dal titolare del trattamento, in cambio di un compenso. Inoltre, tali trattamenti vanno altresì a vantaggio dell’utente stesso, permettendo al Sito di continuare a funzionare, a essere sicuro ed efficiente.</p>

<p><blockquote>Con il consenso dell’utente, utilizzare cookie statistici e di marketing, e pubblicare sul Sito foto fornite dall’utente </blockquote></p>
<p>Con il consenso dell’utente,  i dati personali di quest’ultimo (e/o di terzi) possono essere trattati al fine di:</p>
<li>personalizzare, misurare e migliorare la pubblicità fornita all’utente sul Sito e su altri siti <i>web</i>, in base alle preferenze dell’utente riscontrate durante la navigazione sul Sito;</li>
<li>raccogliere informazioni statistiche, in forma aggregata, sul numero degli utenti che visitano il Sito (come visitatori unici) e sulle modalità con le quali gli utenti visitano il Sito.</li></ul>

<p>Modalità di trattamento</p>

<p>I dati personali dell’utente sono trattati con strumenti, informatici o telematici, esclusivamente per le finalità per le quali sono stati raccolti (vedi sopra), e conservati per un periodo determinato secondo i criteri segnalati in questa <i>privacy policy</i> (vedi sotto). </p>
<p>I dati personali potranno essere conosciuti e trattati dal personale di MFI Refunding, debitamente istruito circa le cautele da adottare previste dalla Normativa <i>Privacy</i> Applicabile.</p>

<p>Durata di trattamento</p>

<p>Gli specifici tempi di conservazione dei dati personali dell’utente sono documentati nel registro delle attività di trattamento di MFI Refunding (implementato ai sensi dell’articolo 30 della G.D.P.R.). </p>
<p>I dati personali dell’utente vengono conservati (secondo i criteri di cui al considerando 39 e all’art. 5, comma 1,  lett. <i>e</i>) del G.D.P.R.) per un periodo necessario ad assicurare che il Sito funzioni, e che MFI Refunding eroghi agli utenti la valutazione gratuita e i Servizi, prestati tramite il Sito (v. sopra). Tale periodo, in ogni caso,  non può eccedere i 10 anni dal momento in cui è cessato il contratto stipulato con MFI Refunding.</p>
<p>I dati personali dell’utente potranno essere conservati per periodi maggiori di quelli appena visti solamente nel caso in ciò sia necessario a MFI Refunding per assolvere gli obblighi di legge ricadenti in capo ad essi o per tutelare un diritto in sede giudiziaria.</p>
<p>Alla scadenza di tali termini di conservazione, i dati dell’utente vengono cancellati, oppure anonimizzati in modo permanente</p>
<p> </p>
<p>Comunicazione dei dati</p>
<p>MFI Refunding comunicherà i dati personali degli utenti solo ed esclusivamente ai soggetti e per le finalità di seguito indicati.</p>
<p><b>Adempimento del contratto stipulato con l’utente</b></p>
<ul class="small"><li>Se l’utente stipula un contratto con MFI Refunding, avente a oggetto la prestazione dei Servizi, MFI Refunding comunicherà le informazioni e i documenti – e i dati personali in essi contenuti – a consulenti terzi - avvocati, medici legali e altri professionisti - la cui attività si rende necessaria al fine dell’ottenimento del risarcimento da parte dell’utente - o del terzo in nome del quale egli/ella ha stipulato un contratto con MFI Refunding.</li></ul></ul>
<p>I trattamenti di competenza di MFI Refunding si limiteranno alla ricezione dei suddetti documenti e informazioni, e all’invio di questi ultimi ad avvocati, medici legali e altri professionisti. </p>
<p>Questi a loro volta – in qualità di titolari del trattamento autonomi rispetto a MFI Refunding, e in forza di apposito mandato  – tratteranno i dati contenuti nelle informazioni e nei documenti inviati da MFI Refunding, al fine di valutare le possibilità risarcitorie dell’utente e/o del terzo nonché di effettuare tutte le attività necessarie a ottenere il suddetto risarcimento.</p>
<p><b>Lotta agli atti illeciti, alle frodi e alle violazioni di sicurezza </b></p>
<li>MFI Refunding potrebbe comunicare i dati personali degli utenti a soggetti terzi che si occupano di prevenire, rilevare e mitigare atti potenzialmente illeciti, frodi e violazioni della sicurezza.</li></ul>
<p><b>Applicazione della legge, procedimenti giudiziari e modalità autorizzate dalla legge</b></p>
<li>MFI Refunding potrebbe comunicare i dati personali degli utenti ad Autorità Giudiziarie, Pubbliche Autorità o terze parti autorizzate, nei casi in cui la legge lo prevede. Nonché, in generale, nei casi in cui sia necessario per adempiere obblighi di legge o richieste verificate relative ad un'indagine penale o ad una presunta attività illecita, oppure per rispondere a rivendicazioni altrui circa i diritti, la proprietà o la sicurezza di MFI Refunding, dei suoi dipendenti o degli utenti.</li></ul>
<p> </p>
<p>Diritti degli interessati</p>

<p>Nei soli casi e con tutti i limiti previsti dagli artt. 15-22 G.D.P.R., l’utente ha diritto - in ogni momento, a titolo gratuito e senza oneri e formalità particolari – a:</p>
<ul class="small"><li>ottenere conferma del fatto che MFI Refunding tratta i suoi dati personali;</li></ul>
<li>accedere ai suoi dati personali, e conoscerne l’origine, le finalità e gli scopi di trattamento, il periodo di conservazione e le informazioni riguardanti i soggetti terzi cui i dati personali vengono comunicati;</li>
<li>revocare il suo consenso in qualunque momento, nel caso in cui questo costituisca la base del trattamento;</li>
<li>aggiornare o rettificare i suoi dati personali raccolti da MFI Refunding, in modo che questi ultimi siano sempre esatti e accurati;</li>
<li>esercitare il cd. diritto all’oblio, ovvero fare in modo che i suoi dati personali raccolti da MFI Refunding vengano cancellati dalle banche dati e/o dagli archivi anche di <i>backup</i> di MFI Refunding;</li>
<li>limitare il trattamento dei suoi dati personali da parte di MFI Refunding;</li>
<li>opporsi al trattamento, per quei dati personali trattati per perseguire esigenze di interesse pubblico oppure legittimi interessi di MFI Refunding;</li>
<li>ricevere i dati – trattati da MFI Refunding su consenso dell’utente, oppure per adempiere gli obblighi contrattuali di MFI Refunding nei confronti di quest’ultimo - in un formato strutturato, di uso comune e leggibile da un dispositivo automatico; l’utente potrà poi trasmettere tali dati a terzi, senza che MFI Refunding possa impedire ciò in alcun modo;</li>
<li>vedersi comunicate, in tempi congrui, le eventuali rettifiche, cancellazioni o limitazioni del trattamento disposte da MFI Refunding, nonché le eventuali revoche di tali misure e le ragioni alla base delle revoche.</li></ul>

<p>L’utente può esercitare tali diritti mediante richiesta scritta rivolta senza formalità a MFI Refunding, inviando apposita <i>e-mail</i> all’indirizzo info@risarcimentointegrale.it </p>
<p>Una volta ricevuta la suddetta <i>e-mail</i>, MFI Refunding soddisferà la richiesta entro un mese dal ricevimento della stessa. Tale termine potrà essere prorogato di due mesi – previo avviso all’utente- tenuto conto della complessità e del numero delle richieste.</p>
<p>MFI Refunding ricorda all’utente che, laddove il riscontro alle sue richieste non sia stato a suo avviso soddisfacente, egli/ella potrà rivolgersi e proporre reclamo all’Autorità Garante per la Protezione dei Dati Personali (<u><a href="http://www.garanteprivacy.it/" rel="nofollow">http://www.garanteprivacy.it/</a></u>) nei modi previsti dalla Normativa <i>Privacy</i> Applicabile. </p>


<p>Modifiche alla <i>privacy policy</i></p>

<p>MFI Refunding si riserva il diritto di apportare modifiche alla presente <i>privacy policy</i> in qualunque momento, dandone pubblicità agli utenti su questa pagina del Sito. </p>
<p>Si prega, dunque, l’utente di consultare spesso questa pagina, prendendo come riferimento la data di ultima modifica indicata in fondo. Salvo quanto diversamente specificato, in caso di modifica la precedente <i>privacy policy</i> continuerà ad applicarsi ai dati personali sino a quel momento raccolti. </p>


<p>Data ultimo aggiornamento: ottobre 2019</p>


















<p><b>Cookie policy</b></p>

<p>Il sito <i>web </i>di MFI Refunding.it S.r.l. (nel seguito, rispettivamente, il “<i>Sito</i>” e “<i>MFI Refunding</i>”), visitabile all’indirizzo <u>https://www.risarcimentointegrale.it</u>, utilizza alcuni <i>cookie</i> nei confronti degli utenti. Con la presente <i>policy</i>, MFI Refunding informa l’utente sui <i>cookie</i> installati dal solo Sito, sulle loro caratteristiche e sulle relative modalità di gestione. Per i <i>cookie</i> installati su eventuali altri siti <i>web</i> raggiungibili tramite il Sito, invece, si invitano gli utenti a consultare le relative <i>cookie policy</i>.</p>
<p>Cosa sono i cookie</p>
<p>I <i>cookie</i> sono piccoli <i>file</i> di testo (formati in genere da lettere e numeri<i>), </i>che vengono salvati sul dispositivo utilizzato dall’utente (computer, tablet, telefono cellulare o altro dispositivo mobile) ed esaminati ogni volta che l'utente accede al Sito. I <i>cookie</i> rendono tecnicamente possibile registrare, per un certo lasso di tempo (variabile a seconda della durata di utilizzo), informazioni utili a garantire che il Sito sia facilmente utilizzabile ed efficace, nonché a comprendere come l’utente utilizzi il Sito e quali siano le preferenze che ha mostrato.</p>
<p>Esistono diversi tipi di <i>cookie:</i></p>
<ol><li>in base alla durata del loro utilizzo,</li>
<ul class="small"><li><i>cookie</i> di sessione, che vengono rimossi automaticamente al termine della sessione del <i>browser</i>; e</li></ul>
<li><i>cookie</i> permanenti, che rimangono invece memorizzati nel dispositivo dell’utente anche dopo il termine della sessione del <i>browser</i>;</li>
<li>in base al soggetto che li installa sul dispositivo dell’utente,</li>
<li><i>cookie</i> di prima parte (o proprietari), che vengono installati dal sito <i>web</i> che l’utente sta visitando; e</li>
<li><i>cookie</i> di terze parti, che vengono installati da un sito <i>web</i> diverso da quello che l’utente sta visitando.<i> </i></li></ul>

<h3>Cookie necessari, statistici e di marketing: consenso dell’utente</h3>

<p>Il Sito fa uso di <i>cookie</i> necessari, statistici e di <i>marketing </i>(v. sotto per le relative definizioni). </p>
<p>I <i>cookie</i> necessari vengono utilizzati per permettere all’utente di accedere al Sito e di navigarvi, quindi, non richiedono il consenso dell’utente.</p>
<p>I <i>cookie</i> statistici e di <i>marketing</i> operano, invece, solo con il consenso dell’utente. Tale consenso può essere fornito o negato dall’utente in occasione della sua prima visita al sito, secondo le modalità indicate nell’apposito <i>banner</i>.</p>
<p>In occasione di ulteriori visite al Sito, l’utente può, inoltre, revocare il consenso prima prestato all’utilizzo di tali <i>cookie.</i></p>

<h3>Cookie e opzioni del browser</h3>

<p>Si segnala, agli utenti che, cambiando le impostazioni del <i>browser</i> utilizzato, essi hanno sempre la possibilità di cancellare i <i>cookie</i> già installati e di non accettarne di nuovi.</p>
<p>Le procedure da seguire per cambiare tali impostazioni sono differenti per ogni tipo di <i>browser</i> e per ogni sistema operativo utilizzati.</p>
<p>Ecco i <i>link</i> relativi alle impostazioni sui <i>cookie</i> dei <i>browser</i> più diffusi:</p>
<ul class="small"><li><i>Google Chrome</i>: <u>https://support.google.com/chrome/answer/95647?hl=it</u><u>;</u></li></ul>
<li><i>Mozilla Firefox</i>: <u>https://support.mozilla.org/it/kb/Gestione%20dei%20cookie</u>;</li>
<li><i>Safari</i>: <u>https://support.apple.com/it-it/HT201265</u> (per <i>IPhone, IPad </i>e<i> IPod Touch</i>) <u>https://support.apple.com/it-it/guide/safari/sfri11471/mac</u> (per <i>MacBook</i>)<u>;</u></li>
<li><i>Windows Internet Explorer</i>: <u>https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies</u>;</li>
<li><i>Windows Microsoft Edge</i>: <u>https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</u>.</li></ul>
<p>Gli utenti possono reperire maggiori informazioni sui principali <i>cookie</i> utilizzati su <i>internet</i> (statistici e di <i>marketing</i>) e sulle relative modalità di disinstallazione consultando la <u>pagina sull'opt-out della Network Alliance Initiative</u>, la <u>pagina sull'opt-out della Digital Advertising Alliance</u>, o il sito <u><a href="http://youronlinechoices.eu" rel="nofollow">http://youronlinechoices.eu</a></u>.</p>

<h2>Cookie utilizzati dal Sito </h2>

<p>Quando l’utente visita il Sito, il Sito stesso e siti <i>web</i> terzi installano sul dispositivo utilizzato dall’utente alcuni <i>cookie</i>.</p>

<h2><blockquote>Cookie necessari</blockquote></h2>

<p>Questi <i>cookie</i>, di sessione o permanenti, rendono utilizzabile un sito <i>web</i>, permettendo, ad esempio, la navigazione tra le pagine, o l'accesso ad aree riservate.</p>

<p><blockquote>Cookie statistici</blockquote></p>

<p>Questi <i>cookie</i> vengono utilizzati per raccoglier in forma aggregata informazioni statistiche sul numero degli utenti che visitano il Sito, e sulle modalità con le quali essi visitano il Sito. Ad esempio, consentono di sapere quante e quali sono le pagine più e meno frequentate, quanto tempo gli utenti hanno trascorso in media sul Sito, quali parole chiave sono state maggiormente utilizzate dagli utenti sui motori di ricerca per raggiungere il Sito.</p>
<p>Per quanto concerne i <i>cookie</i> statistici cc.dd. di terze parti, si segnala che essi fanno capo ai seguenti servizi, offerti da fornitori esterni:</p>
<ul class="small"><li><i>Google Analytics</i> <i>(</i>per maggiori informazioni<i>:</i> <u>https://policies.google.com/privacy?hl=it</u>, <u>https://policies.google.com/technologies/ads?hl=it</u><u> </u>e <u>https://tools.google.com/dlpage/gaoptout</u>);</li></ul>
<li>Monitoraggio conversioni di <i>Facebook Ads (per maggiori informazioni: </i><i><u>https://www.facebook.com/privacy/explanation#</i></u><i>; </i>e<i>  </i><i><u>https://www.facebook.com/policies/cookies/#</i></u><i>). </i>Si specifica che trattasi non già di un <i>cookie</i>, bensì di un cd. <i>pixel</i>. Vale a dire un frammento di codice che consente di misurare le campagne pubblicitarie predisposte su un sito <i>web</i>, ottimizzarle e definirne il pubblico.</li></ul>

<p><blockquote>Cookie di marketing</blockquote></p>

<p>Questi <i>cookie</i> vengono utilizzati per analizzare le preferenze dei visitatori durante la navigazione sul <i>web. </i>Per fare in modo che, durante la navigazione sul Sito e su altri siti <i>web</i>, gli utenti visualizzino annunci pubblicitari calibrati sulle preferenze mostrate. </p>
<p>Per quanto concerne i <i>cookie</i> di <i>marketing</i> cc.dd. di terze parti, si segnala che essi fanno capo ai seguenti servizi, offerti da fornitori esterni:<i> </i></p>
<li><i>Google Ad Manager </i>e<i> Remarketing Google Ads (</i>per maggiori informazioni<i>:</i> <u>https://policies.google.com/privacy?hl=it</u> e <u>https://policies.google.com/technologies/ads?hl=it</u>)<i>;</i></li>
<li><i>Facebook Audience Network </i>e<i> Facebook Remarketing (per maggiori informazioni: </i><i><u>https://www.facebook.com/privacy/explanation#</i></u><i>; </i>e<i>  </i><i><u>https://www.facebook.com/policies/cookies/#</i></u><i>).</i></li></ul>

<p>Data ultimo aggiornamento: ottobre 2019 </p>
    </div>

</div>
